<h1>Каталог</h1>

{{#if flowers.length}}
<div class="row">
{{#each flowers}}
  <div class="col s4">
    <div class="card ">
      <div class="card-image">
        <img src="{{img}}" alt="{{title}}">
      </div>
      <div class="card-content">
        <span class="card-title">{{title}}</span>
        <p class="price">{{price}}</p>
      </div>
      <div class="card-action actions">
        {{#ifexists @root.isAuth @root.isAdmin}}
          {{#ifeq userId._id @root.userId}}
            <a href="/flowers/{{id}}/edit?allow=true">Редактировать</a>
          {{/ifeq}}
          {{#if @root.isAuth}}
          <form action="/card/add" method="POST">
            <input type="hidden" name="_csrf" value="{{@root.csrf}}">
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" class="btn btn-primary">Купить</button> 
          </form>
          {{/if}}
        {{/ifexists}}
      </div>
    </div>
  </div>
{{/each}}
</div>
{{else}}
<p>Цветов пока нет</p>
{{/if}}