<h1>Редактировать {{flower.title}}</h1>

<form action="/flowers/edit" method="POST" class="flower-form" enctype="multipart/form-data">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{flower.title}}">
    <label for="title">Название</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1"  value="{{flower.price}}">
    <label for="price">Цена</label>
    <span class="helper-text" data-error="Введите цену"></span>
  </div>

  <div class="file-field input-field">
    <div class="btn">
      <span>Картинка</span>
      <input type="file" name="img" value="{{flower.img}}">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>

  <input type="hidden" name="id" value="{{flower.id}}">
  <input type="hidden" name="_csrf" value="{{csrf}}">

  <button type="submit" class="btn btn-primary">Редактировать</button>
</form>

<form action="/flowers/remove" method="POST">
  <input type="hidden" name="_csrf" value="{{csrf}}">
  <input type="hidden" name="id" value="{{ flower.id }}">
  <button class="btn red">Удалить</button>
</form>